body{
    background-color:rgb(18, 21, 27);
    width: 100%;
    
     
    
    
}

.l-wrap{
    width: 80%;
    margin: auto;
}

.logo-kreo{
    width: 65px;
    
}
.menu-logo{

    
    background-color: rgb(253, 197, 1);
    padding: 20px;
    margin: 0px;
    position: absolute;
    top: 0;
    left: 0;

        
}


.social_media {
   display: none;
}

nav{

 position: absolute;
 top:0;
 left:0;
 background-color: black;
 width: 100%;
 height: 59px;
    
}



nav ul{
    display: none;
}

nav ul li{
    list-style-type: none;
    color: white;
    text-align: center;
    padding:10px 30px;
    text-transform: uppercase;
    
}
.portfolio h1{
    text-transform: uppercase;
}

.l-main-header{
    


   
    
    
}


.l-main-header .background {
    position: absolute;
    top: 59px; 
    left: -20%;   
    width: 100%;
    

}
.l-main-header h1{
    text-align: center;
    font-family: "raleway-bold", sans-serif;
    margin: 80px 40px 20px 40px;
    
    
}

h1{
    color:white;
    
}
p{
    color:rgb(156, 156, 156);
    text-align:center;
    font-size: 1.2em;
    line-height: 1.6em;
}

h2 {
    color:rgb(253, 197, 1);
}

.l-main-header h1:after{
    
    display: block;
    height: 3px;  
    width: 100px;
    background-color: rgb(253, 197, 1); 
    position: relative;
    content:'\0020';
    margin: 20px auto;   
}
.button-header{

    color:white;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    padding: 20px 30px;
    width: 130px;
    background-color: rgb(230, 78, 4);
    border-radius: 3px;


}


@media screen and (min-width:900px) {
    
}